body {
    margin: 0;
    font-family: 'libre baskerville';
    background-color: var(--offwhite);
}
h1,h2,h3 {
    font-family: 'instrument serif';
    font-weight: normal;
}
h4,h5,h6 {
    font-family: 'mohave';
    color: var(--winered);
     font-weight:normal;
}
h4 {
    font-size: 1.5rem;
}
h6 {
    font-weight: 500;
    font-size: .8rem;
}
:root {
    --winered: oklch(0.51 0.24 25);
    --aquatic: oklch(0.71 0.16 205.81);
    --offwhite: #f4f4f4;
    --darkgrey: #494949;
}

/* NAVIGATION */

.light-dark {
    background-image: url(./sources/Light-Dark-Mode--Streamline-Sharp-Remix.svg);
}
.search {
    background-image: url(./sources/Magnifying-Glass--Streamline-Sharp-Remix.svg);
}
.jfvd {
    background-image: url('./sources/jfvd-logo.svg');
}

.small-icon {
    width: 1em;
    height: 1em;
    background-size: contain;
    transition: opacity .2s;
    opacity: .7;
}

.small-icon:hover {
    opacity: 1;
    cursor: pointer ;
}

.mid-icon {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    cursor: pointer ;
}

.dissident-logo {
    font-family: 'Instrument Serif', serif;
    font-size: 2.5rem;
    line-height: 1;
}

.nav {
    width: 100%;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background: var(--offwhite);
    position:sticky;
    top: 0;
    box-sizing: border-box
}

.nav-main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 2rem;
}

.nav-main p {
    margin: 0;
}

.nav-main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abonneer {
    margin-left: auto;
}

.cta-btn {
    padding: .5rem 1rem;
    background: var(--winered);
    border-radius: 1rem;
    color: white;
    font-family: 'mohave';
    border: var(--winered) 1px solid;
    cursor: pointer;
    flex: none;
}
.cta-btn:hover {
    background-color: transparent;
    color: var(--winered);
}
.dissident-slogan {
    font-family: 'indie flower';
}

/* HERO */

.hero {
    height: 500px;
    display: flex;
    align-items: center;
}

.hero > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20%;
}

/* TRENDING */

.trending > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.schrijvers > div {
    display: grid;
}

/* MAIN */

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.main > div > div {
    padding: 1rem;
}

.trending {
    grid-column: span 2;
}

.schrijvers {
    grid-column: span 2;
    background-color: var(--offwhite);
}

.schrijvers > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.schrijver {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.row {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: subgrid;
}

.word-actief, .nieuwsbrief, .stelling {
    text-align: center;
}

.word-actief {
    background-color: var(--aquatic);
    color: white;
}

.word-actief h4 {
    color: white;
}

/* dashed linework */

.dash-top {
    border-top: 1px var(--darkgrey) dashed;
}

.dash-bottom {
    border-bottom: 1px var(--darkgrey) dashed;
}

.dash-left {
    border-left: 1px var(--darkgrey) dashed;
}

.dash-right {
    border-right: 1px var(--darkgrey) dashed;
}

/* FORM */

.form {
    position: relative;
    overflow: hidden;
    background-image: url(./sources/speckles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100vw;
}
