/* Preset */

html {
    /*scroll-behavior: smooth;*/
    font-size: 15px;
}
body {
    margin: 0;
    font-family: 'libre baskerville';
    background-color: var(--offwhite);
    color: var(--inkblack);
}
ul {
    padding-left: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--inkblack);
}
h1,h2,h3 {
    font-family: 'instrument serif';
    font-weight: normal;
    color: var(--inkblack);
    margin: 0 0 1rem 0;
}
h4,h5,h6 {
    font-family: 'mohave';
    color: var(--winered);
    font-weight:normal;
    margin: 0 0 1rem 0;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-weight: 500;
    font-size: .8rem;
}
:root {
    --grid-width: 1400px;

    --winered: #a71c20;
    --aquatic: #5FC4BF;
    --offwhite: #f4f4f4;
    --darkgrey: #494949;
    --inkblack: #333333;
    --lightgrey: #dfdfdf;
}

::selection {
    background: var(--winered);
    color: white;
}

input, legend, label {
    font-family: 'mohave';
}
fieldset {
    border:0;
}
nav {
    z-index: 1;
}

/* NAVIGATION */

.light-dark {
    background-image: url(./sources/Light-Dark-Mode--Streamline-Sharp-Remix.svg);
}
.search {
    background-image: url(./sources/Magnifying-Glass--Streamline-Sharp-Remix.svg);
}
.jfvd {
    background-image: url('./sources/jfvd-logo.svg');
}

.control-icon {
    width: 1em;
    height: 1em;
    background-size: contain;
    transition: opacity .2s;
    opacity: .7;
}

.control-icon:hover {
    opacity: 1;
    cursor: pointer ;
}

.logo-icon {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    cursor: pointer ;
}

.dissident-logo {
    font-family: 'Instrument Serif', serif;
    font-size: 2.5rem;
    line-height: 1;
}

.nav {
    width: 100%;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background: var(--offwhite);
    position:sticky;
    top: 0;
    box-sizing: border-box
}

.nav-main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 2rem;
}

.nav-main p {
    margin: 0;
}

.nav-main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abonneer {
    margin-left: auto;
}

.cta-btn {
    padding: .5rem 1rem;
    background: var(--winered);
    border-radius: 1rem;
    color: white;
    font-family: 'mohave';
    border: var(--winered) 1px solid;
    cursor: pointer;
    flex: none;
}
.cta-btn:hover {
    background-color: transparent;
    color: var(--winered);
}
.dissident-slogan {
    font-family: 'indie flower';
}

/* HERO */

.hero {
    height: 500px;
    display: flex;
    align-items: center;
}

.hero > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20%;
}

/* MAIN */

section.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "trending trending trending trending trending trending trending trending trending nieuwsbrief nieuwsbrief nieuwsbrief"
    "verhalen verhalen verhalen artikelen artikelen artikelen artikelen artikelen artikelen stelling stelling stelling"
    "schrijvers schrijvers schrijvers schrijvers schrijvers schrijvers schrijvers schrijvers schrijvers word-actief word-actief word-actief";
    max-width: var(--grid-width);
    margin: auto;
    gap: 1rem;
}

section.main > div {
    padding: 1rem;
    position: relative
}

.thumbnail {
    background: var(--lightgrey);
    border-radius: 1rem;
    aspect-ratio: 1/1;
}

.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}
.reset-aspect {
    aspect-ratio: unset;
}

/* MAIN Trending */

.trending {
    grid-area: trending;
}

.trending > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.trend {
    display: flex;
    gap: 1rem;
}

/* MAIN nieuwsbrief */

.nieuwsbrief {
    grid-area: nieuwsbrief;
}

/* MAIN verhalen */

.verhalen {
    grid-area: verhalen;
}

/* MAIN Artikelen */

.artikelen {
    grid-area: artikelen;
}

.artikelen > div {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.artikel {
    display: flex;
    gap: 1rem;
}

/* MAIN Stelling */

.stelling {
    grid-area: stelling;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.pie-chart {
    background:
		radial-gradient(
			circle closest-side,
			transparent 100%,
			var(--offwhite) 0
		),
		conic-gradient(
			#77CA85 0,
			#77CA85 75%,
			#CF6767 0,
			#CF6767 100%
	);
	position: relative;
	width: 15rem;
    aspect-ratio: 1/1;
	margin: 0;
    margin: auto auto;
    border: 1px solid var(--darkgrey);
    border-radius: 50%;
}

.voting {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #77CA85;
    font-family: 'mohave';
    font-size: 1.5rem;
}

.vote-icon {
    width: 4rem;
    height: 4rem;
    background-size: contain;
    cursor: pointer;
}

.vote-icon svg .thumb {
    transition: transform .1s;
}

.thumbs-up:hover .thumb {
    transform: translateY(-.2em);
}

.thumbs-down:hover .thumb {
    transform: translateY(.2em);
}

/* MAIN Schrijvers */

.schrijvers {
    grid-area: schrijvers;
    background-color: var(--lightgrey);
}

.schrijvers > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.schrijver {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.schrijver .thumbnail {
    background-color: var(--offwhite);
    aspect-ratio: 1 / 1;
}

.schrijver :last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.schrijver :first-child {

}


/* MAIN Word-actief */

.word-actief, .nieuwsbrief, .stelling {
    text-align: center;
}

.word-actief {
    grid-area: word-actief;
    background-color: var(--aquatic);
    color: white;
}

.word-actief h4 {
    color: white;
}

.design-icon {
    background-image: url(./sources/Design-Tool-Stamp--Streamline-Freehand.svg);
}

.writing-icon {
    background-image: url(./sources/Edit-Pen-Write-Paper--Streamline-Freehand.svg);
}

.organisation-icon {
    background-image: url(./sources/Business-Management-Teamwork-Clap--Streamline-Freehand.svg);
}

.word-actief ul {
    text-align: start;
    margin: auto;
    display: inline-block;
}

.word-actief li {
    font-family: 'mohave';
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.word-actief ul li div {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    display: inline-block;
    margin-right: .5rem;
}

/* Dashed Linework */

.top-divider::before {
    content:"";
    width: 100vw;
    border-top: 1px dashed var(--darkgrey);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dash-top {
    border-top: 1px var(--darkgrey) dashed;
}

.dash-bottom {
    border-bottom: 1px var(--darkgrey) dashed;
}

.dash-left {
    border-left: 1px var(--darkgrey) dashed;
}

.dash-right {
    border-right: 1px var(--darkgrey) dashed;
}

/* FORM */

.main-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: var(--grid-width);
    margin: auto;
}

section.form {
    background-image: url(./sources/speckles.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

section.form ul {
    grid-column: 1/-1;
    display: flex;
    gap: 1.5em;
    justify-content: center;
}

section.form form {
    grid-column: 1/-1;
    background-color: var(--winered);
    padding: 1rem;
}
section.form form > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section.form h4 {
    color: white;
    text-align: center;
}

legend, label {
    color: white;
}

section.form form fieldset > div > div {
    display: flex;
}

section.form form fieldset > div > div input {
    flex: 1;
    margin: .5rem;
    padding: .5rem;
    box-sizing: border-box;
    border: none;
    border-radius: .5rem;
}

.gender {
    display: block;
}

/* FOOTER */

footer {
    background-color: var(--winered);
    height: min(8rem);
}

/* RESPONSIVITY */

@media (min-width: 1201px) {
    /* Desktop */
    section.form form {
    grid-column: 3/-3;
    }
}

@media (max-width: 1200px) {
/* Tablet */
    .main-grid {
    grid-template-columns: repeat(8, 1fr);
    }
    section.main {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    "trending trending trending trending trending trending trending trending"
    "verhalen verhalen verhalen artikelen artikelen artikelen artikelen artikelen"
    "schrijvers schrijvers schrijvers schrijvers schrijvers schrijvers schrijvers schrijvers"
    "stelling stelling stelling stelling word-actief word-actief word-actief word-actief"
    "stelling stelling stelling stelling nieuwsbrief nieuwsbrief nieuwsbrief nieuwsbrief";
    }
}

@media (max-width: 768px) {
  /* Mobile */
    .main-grid {
    grid-template-columns: repeat(3, 1fr);
    }
    section.main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "trending trending trending"
    "verhalen verhalen verhalen"
    "artikelen artikelen artikelen"
    "schrijvers schrijvers schrijvers"
    "nieuwsbrief nieuwsbrief nieuwsbrief"
    "stelling stelling stelling"
    "word-actief word-actief word-actief";
    }
    .hero > div {
        padding-left: 1rem;
    }
    .trending {
        overflow-x: auto;
    }
    .trending > div {
        grid-template-columns: repeat(3, 100vw)
    }
    .jfvd, .dissident-slogan, .artikel p {
        display: none;
    }
    section.form form > div {
        grid-template-columns: 1fr;
    }
    .schrijvers > div {
        grid-template-columns: 1fr;
    }
}